.button {
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  width: auto;
  border-radius: 0.286em;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
  padding: 0 1em;
  line-height: 1em;
  white-space: nowrap;
  height: 36px;
  transition: background-color 100ms;
  color: inherit;
}

.button[role=presentation] {
  cursor: default;
}

.button[role=presentation]:focus {
  outline: none;
}

.button-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button-icon {
  width: 16px;
  height: 16px;
  margin-right: 1em;
  fill: currentColor;
}

.button--full-width {
  width: 100%;
}

.button--disabled {
  cursor: default;
}

.button--blue {
  background-color: #1991eb;
  border-color: #1585d8;
  color: white;
}

.button--blue:hover:not(.button--disabled) {
  background-color: #1584d7;
}

.button--blue:active:not(.button--disabled) {
  background-color: #0c73c1;
}

.button--green {
  background-color: #39b54a;
  border-color: #249533;
  color: white;
}

.button--green:hover:not(.button--disabled) {
  background-color: #1e930b;
}

.button--green:active:not(.button--disabled) {
  background-color: #1a740b;
}

.button--gray {
  background-image: linear-gradient(0deg, #f2f4f7 0%, #ffffff 100%);
  border-color: #ced0da;
}

.button--white {
  background-color: white;
  border-color: #ced0da;
  color: #7383a1;
}

.button--transparent {
  background-color: transparent;
  border-color: #e6eaee;
  color: #7383a1;
  fill: #c5d0de;
}

.button--transparent.button--disabled {
  border-color: #DFE3E9;
  color: rgba(53, 64, 82, 0.5);
}

.button--blue.button--disabled,
.button--gray.button--disabled,
.button--green.button--disabled {
  opacity: 0.5;
}
