.callout-container {
  position: absolute;
  padding: 10px;
  width:100%;
}

.callout {
  padding: 18px 24px;
  background-color: #F8FAFC;
  border: 1px solid #DFE3E9;
  border-radius: 4px;
  margin-bottom: 30px;
  text-align: center;
}

.callout p {
  margin-bottom: 1em;
  color: #354052;
  font-size: 14px;
  font-weight: 400;
}

.callout p:last-child {
  margin-bottom: 0em;
}

.callout--error {
  background-color: rgba(238, 115, 119, 0.5);
  border: 1px solid rgba(238, 115, 119, 0.8);
}

.callout--error p {
  color: #ed1c24;
}

.callout--success {
  background-color: rgba(115, 238, 119, 0.5);
  border: 1px solid rgba(115, 238, 119, 0.8);
}

.callout--success p {
  color: #0a4e0c;
}
